:root {
  --primary-color: #8dc793;
  --secondary-color: #e2dfa9;
  --accent1-color: #19d92c;
  --accent2-color: #f6eb1c;
  --heading-font: 'Finger Paint', Arial, sans-serif;
  --body-font: Nunito, Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  background-color: var(--primary-color);
  color: var(--accent2-color);
  padding: 0.5rem;
}

header img {
  width: 70px;
  grid-column: 2;
  border-radius: 50%;
}

header nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-column: 3/8;
}

header nav a {
  text-decoration: none;
}

body {
  font-family: var(--body-font);
  color: #000;
}

header,
main,
footer {
  width: 840px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav,
p,
section,
article {
  margin: 16px;
  padding: 8px;
}

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

footer p {
  grid-column: 2/5;
}

.socialmedia {
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia a img {
  height: 32px;
}

.hero {
  position: relative;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.7;
  background-color: var(--accent1-color);
  color: #fff;
}

.hero article {
  position: absolute;
  top: 433px;
  width: 96%;
  text-align: center;
  opacity: 0.9;
  background-color: var(--primary-color);
  color: #fff;
}

.hero article img {
  float: right;
  width: 125px;
}

.history {
  text-align: center;
}

.history div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.history img {
  width: 200px;
}

.advanture {
  text-align: center;
}

.advanture figure {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr auto;
  margin-top: 1rem;
}

.advanture img {
  height: 100px;
}

.advanture figcaption {
  order: 1;
}
