* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light-theme-bg-color: #eee;
  --light-theme-text-color: #333;
  --border: 1px solid rgb(0 0 0 / 0.1);
  --box-bg-color: #ddd;
  --box-text-color: #000;
}

main {
  max-width: 840px;
}

main img {
  width: 150px;
  height: auto;
  float: right;
}

aside {
  width: 20em;
  text-align: center;
  position: relative;
}

aside h2 {
  position: absolute;
  top: 30px;
  left: 75px;
  font-size: 1.2rem;
}

aside img {
  width: 200px;
  height: auto;
}

nav {
  background-color: darkblue;
  padding: 10px;
}

nav a {
  color: white;
  display: block;
  padding: 20px;
}

h1 {
  color: darkblue;
}

img {
  width: 100%;
  height: auto;
  border: var(--border);
  padding: 2px;
  box-shadow: 0 0 30px gray;
}

p {
  padding: 0;
}

footer {
  margin-top: 15px;
  border-top: var(--border);
  text-align: center;
}

/* Class Selectors */
.box {
  margin: 1rem;
  padding: 1rem;
  border: var(--border);
  background-color: var(--box-bg-color);
  color: var(--box-text-color);
}
